body{
    background-color: darkgrey;
}
.Left-side{
    border: solid black 5px;
    width: 270px;
    margin: 150px;
    background-color: yellow;
}
.Header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    margin: 30px;
}
.Word{
    margin-left:35px;
    margin-top: -30px;
    font-size: 20px;
    font-style: italic;
}
.Word2{
    margin:20px;
    margin-top: 100px;
    font-size: large;
}
.Word3{
    margin:20px;
    margin-top: -20px;
    font-size: x-large;
}
.Profilepic{
    height: 500px;
    width: 500px;
    border-radius: 500px;
    border: solid black 5px;
    margin-left: 60px;
    
}
.Right-side{
    border: solid black 5px;
    margin-left: 425px;
    margin-top: -1110px;
    color: yellow;
    background-color: black;
    width: 30cm;
}
.Header2{
    margin-left: 50px;
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10;
}
.Head3{
    font-size: 200px;
    margin-top: -0px;
    margin-left: 50px;
}
.Head4{
    font-size: 80px;
    margin-top: -320px;
    margin-left: 450px;
}
.Head5{
    font-size: 120px;
    margin-left: 300px;
    margin-top: -140px;
}
.Head6{
    margin-left: 349px;
    margin-top: -100px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}
.Head7{
    text-align: left;
    margin-left: 330px;
    margin-right: 50px;
    margin-top: -20px;
    font-size: x-large;
}
.Head8{
    text-align: center;
    margin-left: 200px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}
.List{
    margin-left: 550px;
    font-size: 31px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 34px;
}
